.main-footer {
    font-family: 'Lato';
    background-color: var(--clr-footer);
    color: var(--clr-footer-content);
    padding: 5em;
    border-top: 1px solid var(--clr-content-border);
}

.main-footer .logo {
    color: var(--clr-logo-footer);
    margin-block-end: 0.8em;
}

.main-footer .socials {
    color: white;
    gap: 1.25em;
}

.main-footer div:nth-of-type(2) {
    margin-block-end: 2.5em;
}

.main-footer .socials > * {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;

    background-color: var(--clr-socials);
    cursor: pointer;
}
/* facebook logo */
.main-footer .socials > :nth-child(1):hover {
    background-color: rgb(81, 111, 173);
}
/* twiiter logo */
.main-footer .socials > :nth-child(2):hover {
    background-color: rgb(77, 166, 233);
}
/* behance logo */
.main-footer .socials > :nth-child(3):hover {
    background-color: rgb(0, 115, 247);
}
/* basketball logo */
.main-footer .socials > :nth-child(4):hover {
    background-color: rgb(247, 98, 1);
}
